@font-face { font-family:SourceSansPro; src:url('font/SourceSansProRegular.otf'); }
@font-face { font-family:SourceSansPro; src:url('font/SourceSansProItalic.otf'); font-style:italic; }
@font-face { font-family:SourceSansPro; src:url('font/SourceSansProBoldItalic.otf'); font-weight:bold; font-style:italic; }
@font-face { font-family:SourceSansPro; src:url('font/SourceSansProBold.otf'); font-weight:bold; }
html, body { padding:0px; margin:0px; width:100%; height:100%; overflow:hidden; }
.view, .view > div, .view > img
{
	-webkit-user-select:none;
	-moz-user-select:none;
	-ms-user-select:none;
	-o-user-select:none;
	cursor:inherit; margin:0; padding:0; position:absolute;
}
.view-text { white-space:nowrap; overflow:hidden; }
.view-root { left:0px; right:0px; top:0px; bottom:0px; }
.scrollable { overflow: auto; -webkit-overflow-scrolling: touch; }
.scrollable-x { overflow-x: auto; overflow-y: hidden; -webkit-overflow-scrolling: touch; }
.scrollable-y { overflow-x: hidden; overflow-y: auto; -webkit-overflow-scrolling: touch; }
input.view { -moz-user-select:text; }
input, select, textarea { background-color: transparent; border: 0; -webkit-appearance: none; -moz-appearance: none; }
input:focus, select:focus, textarea:focus { outline: none; }
/* Hides placeholder text on focus */
input:focus::-webkit-input-placeholder, textarea:focus::-webkit-input-placeholder { color: transparent; }
input:focus::-moz-placeholder, textarea:focus::-moz-placeholder { color: transparent; }
/* Enforce consistent placeholder styling between browsers */
input::-webkit-input-placeholder, textarea::-webkit-input-placeholder { color: #a9a9a9; text-overflow: ellipsis; }
input::-moz-placeholder, textarea::-moz-placeholder { color: #a9a9a9; opacity: 1; text-overflow: ellipsis; }
input:-moz-placeholder, textarea:-moz-placeholder { color: #a9a9a9 !important; opacity: 1; text-overflow: ellipsis; }
input:-ms-input-placeholder, textarea:-ms-input-placeholder { color: #a9a9a9 !important; text-overflow: ellipsis; }
/* Hide native elements but allow actioning them */
.view-select { opacity: 0; }
.view-radio { opacity: 0; }
.view-checkbox { opacity: 0; width: 0; height: 0; }